* {
  box-sizing: border-box;
}

.flex-conteiner {
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  /* align-items: center;
  flex-wrap: wrap ; */
}

.item {
  /* flex-basis: 100px; */
  /* box-sizing: border-box; */

  /* display: inline-block; */
  width: 100px;
  height: 100px;
  background-color: burlywood;
  padding: 10px;
  border: 6px solid darkred;
  margin: 10px;
}

.item:nth-child(2) {
  flex-shrink: 0;
  /* flex-grow: 1; */
}

/* .item:nth-child(3) {
  flex-grow: 2;
} */
/* margin-left: auto;
  margin-right: auto; */

/* margin: 0 auto; */

/* padding-top: 10px;
  border-bottom: 5px solid darkred;
  border-radius: 5px;
  margin: 10px; */

/* padding-top: 16px;
  padding-right: 42px;
  padding-bottom: 16px;
  padding-left: 42px;

  padding: 16px 42px; */
/* }

.box:last-child {
  background-color: gold;
}

.box:not(:first-child) {
  background-color: gold;
}

.box:nth-child(3),
.box:nth-child(4) {
  background-color: red;
}

.box:nth-child(odd) {
  background-color: fuchsia;
}

.box:nth-child(even) {
  background-color: blue;
}

.box:nth-child(n + 3) {
  background-color: rgb(14, 2, 4);
} */
