.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  /* padding: 0 24px; /*щоб не прилипало до країв */
}

// .circle {
//   @include circle(100px, 100px, white);
// }

// .circle-big {
//   @include circle(200px, 200px, green);
// }

// .circle-small {
//   @include circle(50px, 50px, red);
// }
