.formats-section {
  &__container {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  &__item {
    /* display: flex; */
    flex-basis: calc((100% - 40px) / 3);
    /* min-height: 240px; */
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
}
