.traditions-section {
  padding-top: 96px;

  &__container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }

  &__content {
    max-width: 710px;
  }

  &__title {
    margin-bottom: 42px;
  }
  &__text {
    &--limited {
      max-width: 340px;
    }
  }
  &__image-baker {
    border-radius: 500px 500px 0px 0px;
  }
}

/* .traditions-text {
  white-space: nowrap;
} */
